body{
    background-color: #fff;
    color: black;
}


.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: black;
    border-style: outset;

    
}

.center-nav{
   font-size: 20px;
}

.right-logo{
    display: flex;
    gap:15px;
    justify-content: center;
    align-items: center;

    
   
}

.right-nav{
    display: flex;
    font-family: "inter,sans-serif";
    font-size: 25px;
}


.right-nav-side{
    display: flex;
    justify-content: space-between;
    font-family: "inter,sans-serif";
    gap: 20px;
    list-style: none;
    font-size: 20px;
    justify-content: center;
    margin-right: 10px;
}

.navbar-2{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: black;
    align-items: center;



}

.right-logo{
    display:flex;

}

.nav-center{
    display: flex;
    color: black;
    justify-content: space-between;
    gap:18px;
    list-style: none;
    font-size: 20px;
    margin-left: 546px;
    
}


.rightnav-2{
    display: flex;
    gap:18px;
    color: black;
    margin-right: 40px;
  
}

.mid-content{
   display: flex;
   justify-content: space-between;
   border-radius: 50%;
   
}



.div1 img{
    width: 100%;
    height:100vh;
    border-radius:23px;

}



.div2 img{

    width: 100%;
    height: 84vh;
    border-radius:23px;
}

.div3 img{
   width:50%;
   height:100vh;
   border-radius:23px ;
   margin-left:750px ;
   margin-top: -81px;

}

.discount{
    background-color: #F1F1F1;
    width: 78%;
    height: vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 34px;
    margin-left: 149px;
    margin-top: 80px;
    gap:20px;
    position: relative;
   
}

.discount-content{
   margin-left: -200px;
  
  
}

.button{
    width: 50%;
    height:50vh;
    background-color: black;
    color: #fff;
    border: 2px black;
    position: relative;
    top:0;
    z-index: 14;
}


.btn{
    background-color: black;
    color: #fff;
    padding: 15px 62px;
    justify-content: space-evenly;
   
}

.off-content{
    
    color: #E1E1E1;
    font-size: 50px;
    position: absolute;
    bottom: -60px;
    right: 60px;;
    z-index: 50;
    display: flex;
    justify-content: space-between;
}

.all-images{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 23px;
 
}

.shoes-img-1 img{
    display: flex;
   justify-content: space-around;
   height:40vh;
  
}

.feature-content{
    color: black;
    justify-content:space-between;
    font-family: "Inter,Roboto,sans-serif";
    display:flex;
   
  
    

}

.collection-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imges-collect img{
    height: 100vh;
    width:100%;
    margin-top: 250px;
    border-radius: 25px;
    justify-content:space-around ;
}

.card-item{
    display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 23px;
}

.card-item img{
    display: flex;
   justify-content: space-around;
   height:40vh;
   
}

.footer-content{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 95px;
   
}

.list-content{
    display:block ;
    list-style: none;
    justify-content: space-between;
}

.last-content{
    display:flex;
    justify-content: space-between;
    color: grey;
}





.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .content-feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
  }

  .view-content{
    color:black;

  }

  .shoes-running{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }


  .shoes-img-1{
     display:block;

  }

  .main{
    display: block;
  }

  .shoez-back{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }

  


  